<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Graduation1"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ReWriteActivity"
            android:exported="false" />
        <activity
            android:name=".ModifyActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false" />
        <activity
            android:name=".BoardMainActivity"
            android:exported="true" />
        <activity
            android:name=".CenterActivity"
            android:exported="true" />
        <activity android:name=".SeparateJaMo" />
        <activity android:name=".JihwaMainActivity" />
        <activity android:name=".VideoMainActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".Quiz_main" />
        <activity android:name=".Quiz2" />
        <activity android:name=".Quiz3" />
        <activity android:name=".Quiz4" />
        <activity android:name=".Quiz5" />
        <activity android:name=".Quiz6" />
        <activity android:name=".Quiz7" />
        <activity android:name=".Quiz8" />
        <activity android:name=".Quiz9" />
        <activity android:name=".Quiz10" />
        <activity android:name=".Quiz11" />
        <activity android:name=".Quiz12" />
    </application>

</manifest>